/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

.bookshop {
  text-align: center;
  box-sizing: content-box;
  margin-left: 2%;
  margin-right: 2%;
}

.addbtn {
  background-color: rgb(255, 204, 102);
}

.box {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-content: center;
}

.bookCardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  border-color: black;
  border-radius: 3pt;  
}

