/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


.bookshop {
  text-align: center;
  box-sizing: content-box;
  margin-left: 2%;
  margin-right: 2%;
}

.homeButton {
  margin-top: 1rem;
  background-color: #ffcc66;
}

.homeButtonText {
  font-size: 0.9rem;
  text-align: center;
}

.addbtn {
  background-color: #ffcc66;
}

.box {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-content: center;
}

.bookCardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  border-color: black;
  border-radius: 3pt;  
}

.cardDiv {
  border-color: #ffcc66;
  border-style: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.amazonBookTitleDiv, .authorDiv {
  height: 4rem;
}

.bookTitle {
  text-decoration: underline;
  text-decoration-color: #ffcc66;
  font-size: 1.5rem;
  font-weight: bolder;
}

.author {
  font-weight: bold;
  font-size: 1rem;
}

.descriptionDiv {
  height: 6rem;
  border-style: solid;
  border-width: thin;
  border-color: #ffcc66;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price{
  font-weight: bold;
}
